<div class="head">
    <p>NOME E INFORMAZIONI DI CONTATTO</p>
    <p> PICCOLO VINCENZO</p>
</div>
<div class="container">
    <div class="content"> <img src="../fotoprofilo.jpeg" alt="profio" width="140px" height="140px" >  </div>
    <div class="infopersonali">
        <p>  <span>sesso: Maschio </span> <span>Data di nascita: 07/09/1991 </span> <span>Nazione: Italia</span></p>
        <p>Via cic 15 ,Napoli,Italia , 80013</p>
        <p>+39 3274586494</p>
        <p>cvtest@gmail.com</p>
    </div>
</div>

<p class="lavoro"><span>LAVORO PREFERITO</span> <span> Sviluppare</span></p>